In [1]:
import sqlite3
import tkinter as tk
from tkinter import messagebox
from tkinter import ttk

conn = sqlite3.connect('students.db')

def join_tables():
    table1 = table1_dropdown.get()
    table2 = table2_dropdown.get()
    cursor = conn.cursor()

    if table1 == "courses" and table2 == "instructors":
        cursor.execute(f"SELECT {table1}.*, {table2}.email, {table2}.office FROM {table1} LEFT JOIN {table2} ON {table1}.instructor = {table2}.name")
    elif table1 == "courses" and table2 == "enrollments":
        cursor.execute(f"SELECT {table1}.*, {table2}.student_id AS {table2}_student_id, {table2}.grade AS {table2}_grade FROM {table1} LEFT JOIN {table2} ON {table1}.id = {table2}.course_id")
    elif table1 == "students" and table2 == "enrollments":
        cursor.execute(f"SELECT {table1}.*, {table2}.course_id AS {table2}_course_id, {table2}.grade AS {table2}_grade FROM {table1} LEFT JOIN {table2} ON {table1}.id = {table2}.student_id")
    elif table1 == "students" and table2 == "instructors":
        cursor.execute(f"SELECT {table1}.*, {table2}.email, {table2}.office FROM {table1} LEFT JOIN {table2} ON {table1}.id = {table2}.id")
    else:
        messagebox.showerror("Invalid Tables")
        return

    columns = [description[0] for description in cursor.description]
    rows = cursor.fetchall()

    table_view = ttk.Treeview(window, columns=columns, show='headings')
    table_view.grid(row=2, column=0, columnspan=3, padx=5, pady=5)

    # Insert columns in the table
    for col in columns:
        table_view.heading(col, text=col)

    # Insert rows in the table
    for row in rows:
        table_view.insert("", tk.END, values=row)

window = tk.Tk()
window.title("MySQL Left Join")

tables1 = ["students", "courses"]
tables2 = ["instructors", "enrollments"]
table1_dropdown = tk.StringVar(window)
table1_dropdown.set(tables1[0])
table2_dropdown = tk.StringVar(window)
table2_dropdown.set(tables2[1])
table1_menu = tk.OptionMenu(window, table1_dropdown, *tables1)
table2_menu = tk.OptionMenu(window, table2_dropdown, *tables2)
table1_menu.grid(row=0, column=0, padx=5, pady=5)
table2_menu.grid(row=0, column=1, padx=5, pady=5)
join_button = tk.Button(window, text="Join Tables", command=join_tables)
join_button.grid(row=0, column=2, padx=5, pady=5)

window.mainloop()